* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html {
    font-size: 62.5%;  /* 10px */
 }

 div {
    font-size: 2rem;
 }

 legend {
    font-size: 2.5rem;
 }

 #formulario {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 6rem;
 }

 #info_cliente {
     width: 80%;
     font-size: 2rem;
     padding: 2rem 2rem; 
     margin: 4rem 0;
 }
