{% extends 'base.html' %}

{% block title %}
    <title>Libro de reclamaciones || Cubatta</title>
{% endblock %}

{% block body_content %}
    <header>
        <h1>Sala Cubatta</h1>
        <span>Fecha: {{ dia }}</span>
    </header>

    <div class="encabezado">
        <h1>Libro de reclamaciones</h1>
    </div>

    <section id="form_section">
        <form action="" method="post">
            <fieldset id="customer">
                <div class="section_head">
                    <strong>Identificacion del cliente</strong>
                </div>
                <div>
                    <label for="name_id"></label>
                    <input type="text" class="input_in" name="name" id="name_id" value=""
                        placeholder="Nombres" required>
                </div>
                <div class="document">
                    <div>
                        <input type="radio" id="dni" name="type_doc" value="DNI">
                        <label for="type_doc">DNI</label>
                    </div>
                    <div>
                        <input type="radio" id="ce" name="type_doc" value="CE">
                        <label for="type_doc">CE</label>
                    </div>
                    <div>
                        <input type="radio" id="ruc" name="type_doc" value="ruc">
                        <label for="type_doc">RUC</label>
                    </div>
                    <div id="nro_doc">
                        <input type="number" name="document"  maxlength="10" value="" 
                            placeholder="Nro de documento" required>
                    </div>
                </div>
                <div>
                    <label for="contact_id"></label>
                    <input type="email" name="contact" id="contact_id" value=""
                        placeholder="Correo electronico" class="input_in" required>
                </div>
                <div>
                    <label for="domicilio_id"></label>
                    <textarea name="domicilio" id="domicilio_id" 
                        placeholder="Domicilio" required></textarea>
                </div>
            </fieldset>
        
            <fieldset id="reclamo">
                <div class="section_head">
                    <strong>Detalle de la reclamacion</strong>
                </div>
                <div id="cont_fecha">
                    <label for="date_id">Fecha y hora de la ocurrencia:</label>
                    <input type="datetime-local" name="date" id="date_id" value="" required>
                </div>
                <div>
                    <div class="type_custo">
                        <input type="radio" id="reclamo" name="type_obj" value="reclamo">
                        <label for="reclamo">Reclamo</label>
                    </div>
                    <div class="type_custo">
                        <input type="radio" id="queja" name="type_obj" value="queja">
                        <label for="queja">Queja</label>
                    </div>
                </div>
                <div id="amount">
                    <label for="request_id"></label> 
                    <input type="number" name="amount" id="request_id"
                        placeholder="Monto reclamado" value="">
                </div>
                <div>
                    <label for="detail_id"></label> 
                    <textarea name="detalle" id="detail_id" placeholder="Detalle"
                        required></textarea>
                </div>
                
            </fieldset>
        </form>
    </section>
    
{% endblock %}
