{% extends 'base.html' %}

{% block head_content %} 
    {% if sala == 'cubatta' %}
        <title>Gestion de reclamaciones || Cubatta</title> 
    {% endif %}
{% endblock %} 

{% block body_content %}

    {% include 'nav.html' %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="encabezado">
        <h1>Gestion de reclamos/quejas</h1>
    </div>

    <section id="search_section">
        {% if sala == 'cubatta' %}
            <form action="{{ url_for('cubatta.audit_view') }}" method="post" id="sh_form">
        {% endif %}
            <label for="search_id">
                <input type="text" id="search_id" name="client" value="" placeholder="Cliente">
            </label>
            <label for="date_id">
                <input type="date" id="date_id" name="date" value="">
            </label>
            <button class="search_btn" type="submit"></button>
        </form>
    </section>
    <section id="list_section">
        <div id="pending">
            <h3>Pendientes</h3>
            {% if pendings %}
                <table class="table_list">
                    <tr>
                        <th>Cliente</th>
                        <th>Email</th>
                        <th class="detail_th">Detalle</th>
                    </tr>
                    {% for r in pendings %}
                        <tr>
                            {% if sala == 'cubatta' %}
                                <td><a class="pending_a" href="{{ url_for('cubatta.discharge_view', id=r.id) }}">{{ r.name }}</a></td>
                            {% endif %}
                            <td>{{ r.email }}</td>
                            <td class="detail_td">{{ r.detail }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No hay entradas pendientes</h3>                
            {% endif %}
        </div>
        <div id="last_five">
            <h3>Ultimos 5</h3>
            {% if answered %}
                <table class="table_list">
                        <tr>
                            <th>Cliente</th>
                            <th>Email</th>
                            <th>Detalle</th>
                        </tr>
                    {% for r in answered.items %}
                        <tr>
                            {% if sala == 'cubatta' %}
                                <td><a class="last_a" href="{{ url_for('cubatta.processed_view', id=r.id) }}">{{ r.name }}</a></td>
                            {% endif %}
                            <td>{{ r.email }}</td>
                            <td class="detail_td">{{ r.detail }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class=pagination>
                    {% for page in answered.iter_pages() %}
                        {% if page %}
                            {% if page != answered.page %}
                                {% if sala == 'cubatta' %}
                                    <a href="{{ url_for('cubatta.audit_view', page=page) }}">{{ page }}</a>
                                {% endif %}
                            {% else %}
                            <strong>{{ page }}</strong>
                            {% endif %}
                        {% else %}
                            <span>…</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <h3>No hay entradas solucionadas</h3>
            {% endif %}
        </div>
    </section>
    
{% endblock %}
