<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" 
            content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        {% block head_content %}
        {% endblock %}
    </head>
    <body>
        {% block body_content %}
        {% endblock %}
        <!-- <script type="text/javascript"> -->
        <!--     document.getElementById("date_id").max = {{ dia2 }} -->
        <!-- </script> -->
    </body>
</html>
