{% extends 'base.html' %}

{% block head_content %}
  {% if sala == 'cubatta' %}
    <title>Libro de reclamaciones || Cubatta</title>
  {% elif sala == 'tribeca' %}
    <title>Libro de reclamaciones || Tribeca</title>
  {% elif sala == 'montreal' %}
    <title>Libro de reclamaciones || Montreal</title>
  {% elif sala == 'kavari' %}
    <title>Libro de reclamaciones || Kavari</title>
  {% elif sala == 'siete' %}
    <title>Libro de reclamaciones || Siete</title>
  {% elif sala == 'magia' %}
    <title>Libro de reclamaciones || Magia</title>
  {% elif sala == 'cassino' %}
    <title>Libro de reclamaciones || Cassino</title>
  {% elif sala == 'zarate' %}
    <title>Libro de reclamaciones || Uchukuta Zarate</title>
  {% elif sala == 'proceres' %}
    <title>Libro de reclamaciones || Uchukuta Proceres</title>
  {% elif sala == 'huacho' %}
    <title>Libro de reclamaciones || Uchukuta Huacho</title>
  {% elif sala == 'huarmey' %}
    <title>Libro de reclamaciones || Uchukuta Huarmey</title>
  {% elif sala == 'casma' %}
    <title>Libro de reclamaciones || Uchukuta Casma</title>
  {% endif %}
{% endblock %}

{% block body_content %}

  <header class="header">
    {% if sala == 'cubatta' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_cubatta_cliente.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'tribeca' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_tribeca.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'montreal' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_montreal.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'kavari' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_kavari.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'siete' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_siete.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'magia' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_magia.png') }}" alt="logo sala">
      </picture>
    {% elif sala == 'cassino' %}
      <picture>
        <img src="{{ url_for('static', filename='images/logo_cassino.png') }}" alt="logo sala">
      </picture>
    {% endif %}

    <span class="header__date">Fecha: {{ dia }}</span>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="title-container-client">
    <h1 class="title-container__title-client">LIBRO DE RECLAMACIONES</h1>
  </div>

  <section class="form-section">
    {% if sala == 'cubatta' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('cubatta.client_view') }}" method="post">
    {% elif sala == 'tribeca' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('tribeca.client_view') }}" method="post">
    {% elif sala == 'montreal' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('montreal.client_view') }}" method="post">
    {% elif sala == 'kavari' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('kavari.client_view') }}" method="post">
    {% elif sala == 'siete' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('siete.client_view') }}" method="post">
    {%elif sala == 'magia' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('magia.client_view') }}" method="post">
    {% elif sala == 'cassino' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('cassino.client_view') }}" method="post">
    {% elif sala == 'zarate' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('zarate.client_view') }}" method="post">
    {% elif sala == 'proceres' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('proceres.client_view') }}" method="post">
    {% elif sala == 'huacho' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('huacho.client_view') }}" method="post">
    {% elif sala == 'huarmey' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('huarmey.client_view') }}" method="post">
    {% elif sala == 'casma' %}
      <form class="form-section__form form-section--elements"  action="{{ url_for('casma.client_view') }}" method="post">
    {% endif %}

        <section class="form-section__main-container">
            <fieldset class="fieldset-container">
                <div class="form-section__customer">
                  <strong class="form-section__customer__title">Identificación del cliente</strong>
                </div>
                <div class="fieldset-container__div">
                  <label for="name_id"></label>
                  <input type="text" class="input_in form-section--elements" autocomplete="off" name="name" id="name_id" value="" placeholder="Nombres" required>
                </div>
                <div class="form-section__document fieldset-container__div">
                  <div>
                    <input class="form-section--elements" type="radio" id="dni" name="type_doc" value="DNI" checked>
                    <label for="dni">DNI</label>
                  </div>
                  <div>
                    <input class="form-section--elements" type="radio" id="ce" name="type_doc" value="CE">
                    <label for="ce">CE</label>
                  </div>
                  <div>
                    <input class="form-section--elements" type="radio" id="ruc" name="type_doc" value="ruc">
                    <label for="ruc">RUC</label>
                  </div>
                  <div class="fieldset-container__div" id="nro_doc">
                    <input class="form-section--elements" type="number" autocomplete="off" name="document"  maxlength="10" value="" placeholder="Nro de documento" required>
                  </div>
                </div>
                <div class="fieldset-container__div">
                  <label for="contact_id"></label>
                  <input class="form-section--elements input_in" type="email" autocomplete="off" name="contact" id="contact_id" value="" placeholder="Correo electronico" required>
                </div>
                <div class="fieldset-container__div">
                  <label for="domicilio_id"></label>
                  <textarea class="form-section--elements textarea" name="domicilio" id="domicilio_id" placeholder="Domicilio" required></textarea>
                </div>
            </fieldset>
        
            <fieldset class="fieldset-container">
              <div class="form-section__customer">
                <strong class="form-section__customer__title">Detalle de la reclamación</strong>
              </div>
              <div class="form-section__cont-fecha fieldset-container__div">
                <label for="date_id">Fecha y hora de la ocurrencia:</label>
                <input class="form-section--elements date-input" type="datetime-local" name="date" id="date_id" value="" required>
              </div>
              <div class="fieldset-container__div">
                <div class="type_custo dropdown_client">
                  <input class="form-section--elements" type="radio" id="reclamo_id" name="type_obj" value="reclamo">
                  <label for="reclamo_id">Reclamo</label>
		  <div class="dropdown_client--content">Disconformidad relacionada a las maquinas tragamonedas o juegos.</div>
                </div>
                <div class="type_custo dropdown_client">
                  <input class="form-section--elements" type="radio" id="queja" name="type_obj" value="queja" checked>
                  <label for="queja">Queja</label>
	          <div class="dropdown_client--content">Disconformidad no relacionada a las maquinas o juegos; sino, malestar o descontento respecto a la atención al público.</div>
                </div>
              </div>
              <div id="amount" class="fieldset-container__div">
                <label for="request_id"></label> 
                <input class="form-section--elements" type="number" autocomplete="off" name="amount" id="request_id" placeholder="Monto reclamado" value="">
              </div>
              <div class="fieldset-container__div">
                <label for="detail_id"></label> 
                <textarea class="form-section--elements textarea" autocomplete="off" name="detail" id="detail_id" placeholder="Detalle" required></textarea>
              </div>
            </fieldset>
          </section>
          <button class="btn_client" type="submit">REGISTRAR</button> 
      </form>
  </section>

	<script type="text/javascript">
		f = new Date();
		const ISOLocaleString = d => {
       const pad = n => n < 10 ? '0'+n : n;
       return d.getFullYear()+'-'
            + pad(d.getMonth()+1)+'-'
            + pad(d.getDate())+'T'
            + pad(d.getHours())+':'
            + pad(d.getMinutes())
    }
		document.getElementById('date_id').max = ISOLocaleString(f);
	</script>
{% endblock %}
