<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablet.css') }}">
    {% if sala == 'cubatta' %}
      <title>Encuesta || Cubatta</title>
    {% elif sala == 'tribeca' %}
      <title>Encuesta || Tribeca</title>
    {% elif sala == 'montreal' %}
      <title>Encuesta || Montreal</title>
    {% elif sala == 'kavari' %}
      <title>Encuesta || Kavari</title>
    {% elif sala == 'siete' %}
      <title>Encuesta || Siete</title>
    {% elif sala == 'magia' %}
      <title>Encuesta || Magia</title>
    {% elif sala == 'cassino' %}
      <title>Encuesta || Cassino</title>
    {% endif %}
  </head>
  <body>
    <section class="survey">
      <header class="header">
        <span class="icon-header"></span>
        <span class="text-header">ENCUESTA DE SATISFACCION</span>
      </header>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <div class="none-display">
        <progress id="sur-step" max="9" value="0"> </progress>
        <label for="sur-step">1 / 9</label>
      </div>

      <form id="regForm" action="{{ url_for('cubatta.client_view') }}" method="post">
        <div class="tab">
          {% if sala == 'cubatta' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_cubatta_cliente.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'tribeca' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_tribeca.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'montreal' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_montreal.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'kavari' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_kavari.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'siete' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_siete.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'magia' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_magia.png') }}" alt="logo sala">
            </picture>
          {% elif sala == 'cassino' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_cassino.png') }}" alt="logo sala">
            </picture>
          {% endif %}
            <picture>
              <img src="{{ url_for('static', filename='images/cubatta_survey.png') }}" alt="logo sala">
            </picture>
            <span class="prom-info">Reclama tu ticket promocional al finalizar</span>
        </div>

	      <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>1.</span> <span>¿Cómo calificarías tu experiencia general en nuestra sala tragamonedas?</span></div>
            <hr>
            <label class="container">
              <input type="radio" name="question1" value="Muy bueno">
              Muy Bueno
            </label>
            <label class="container">
              <input type="radio" name="question1" value="Bueno">
              Bueno
            </label>
            <label class="container">
              <input type="radio" name="question1" value="Regular">
              Regular
            </label>
            <label class="container">
              <input type="radio" name="question1" value="Deficiente">
              Deficiente
            </label>
          </div>
	      </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>2.</span> <span>¿Nuestros servicios superaron tus expectativas?</span></div>
            <hr>
            <label class="container">
              <input type="radio" name="question2" value="Totalmente">
              Totalmente
            </label>
            <label class="container">
              <input type="radio" name="question2" value="Si">
              Si
            </label>
            <label class="container">
              <input type="radio" name="question2" value="A penas">
              A penas
            </label>
            <label class="container">
              <input type="radio" name="question2" value="No">
             No
            </label>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>3.</span> <span>Considerando tu experiencia con nosotros, ¿nos recomendarias con un amigo o familiar?</span></div>
            <hr>
            <label class="container">
              <input type="radio" name="question2" value="Si">
              Si
            </label>
            <label class="container">
              <input type="radio" name="question2" value="No">
              No
            </label>
            <label class="container">
              <input type="radio" name="question2" value="Tal vez">
              Tal vez
            </label>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>4.</span> <span>¿Cómo calificarías nuestros juegos?</span></div>
            <hr>
            <label class="container">
              <input type="checkbox" name="question4" value="Divertidos y amigables">
              Divertidos y amigables
            </label>
            <label class="container">
              <input type="checkbox" name="question4" value="Modernos/Actuales">
              Modernos/Actuales
            </label>
            <label class="container">
              <input type="checkbox" name="question4" value="Antiguos y amigables">
              Antiguos y amigables
            </label>
            <label class="container">
              <input type="checkbox" name="question4" value="Antiguos y no amigables">
              Antiguos y no amigables
            </label>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>5.</span> <span>¿Cómo calificarías a nuestro personal?</span></div>
            <hr>
            <table>
              <tr>
                <th class="first-th"></th>
                <th class="all-th">Muy bueno</th>
                <th class="all-th">Bueno</th>
                <th class="all-th">Regular</th>
                <th class="all-th">Deficiente</th>
              </tr>
              <tr>
                <td class="td-head">Supervisoras</td>
                <td><input type="radio" name="question5-1" value="Muy bueno"></td>
                <td><input type="radio" name="question5-1" value="Bueno"></td>
                <td><input type="radio" name="question5-1" value="Regular"></td>
                <td><input type="radio" name="question5-1" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Azafatas</td>
                <td><input type="radio" name="question5-2" value="Muy bueno"></td>
                <td><input type="radio" name="question5-2" value="Bueno"></td>
                <td><input type="radio" name="question5-2" value="Regular"></td>
                <td><input type="radio" name="question5-2" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Personal de Seguridad</td>
                <td><input type="radio" name="question5-3" value="Muy bueno"></td>
                <td><input type="radio" name="question5-3" value="Bueno"></td>
                <td><input type="radio" name="question5-3" value="Regular"></td>
                <td><input type="radio" name="question5-3" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Personal de mantenimiento</td>
                <td><input type="radio" name="question5-4" value="Muy bueno"></td>
                <td><input type="radio" name="question5-4" value="Bueno"></td>
                <td><input type="radio" name="question5-4" value="Regular"></td>
                <td><input type="radio" name="question5-4" value="Deficiente"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>6.</span> <span>¿Cómo calificarías a nuestra sala en lo siguiente?</span></div>
            <hr>
            <table>
              <tr>
                <th class="first-th"></th>
                <th class="all-th">Muy bueno</th>
                <th class="all-th">Bueno</th>
                <th class="all-th">Regular</th>
                <th class="all-th">Deficiente</th>
              </tr>
              <tr>
                <td class="td-head">Publicidad</td>
                <td><input type="radio" name="question6-1" value="Muy bueno"></td>
                <td><input type="radio" name="question6-1" value="Bueno"></td>
                <td><input type="radio" name="question6-1" value="Regular"></td>
                <td><input type="radio" name="question6-1" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Sorteos</td>
                <td><input type="radio" name="question6-2" value="Muy bueno"></td>
                <td><input type="radio" name="question6-2" value="Bueno"></td>
                <td><input type="radio" name="question6-2" value="Regular"></td>
                <td><input type="radio" name="question6-2" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Premios</td>
                <td><input type="radio" name="question6-3" value="Muy bueno"></td>
                <td><input type="radio" name="question6-3" value="Bueno"></td>
                <td><input type="radio" name="question6-3" value="Regular"></td>
                <td><input type="radio" name="question6-3" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Decoracion</td>
                <td><input type="radio" name="question6-4" value="Muy bueno"></td>
                <td><input type="radio" name="question6-4" value="Bueno"></td>
                <td><input type="radio" name="question6-4" value="Regular"></td>
                <td><input type="radio" name="question6-4" value="Deficiente"></td>
              </tr>
              <tr>
                <td class="td-head">Musica</td>
                <td><input type="radio" name="question6-5" value="Muy bueno"></td>
                <td><input type="radio" name="question6-5" value="Bueno"></td>
                <td><input type="radio" name="question6-5" value="Regular"></td>
                <td><input type="radio" name="question6-5" value="Deficiente"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>7.</span> <span>¿Qué tan receptivo ha sido nuestro equipo de servicio al cliente a tus preguntas y preocupaciones?</span></div>
            <hr>
            <label class="container">
              <input type="radio" name="question7" value="Muy receptivos">
              Muy receptivos
            </label>
            <label class="container">
              <input type="radio" name="question7" value="Moderadamente recereceptivos">
              Moderadamente receptivos
            </label>
            <label class="container">
              <input type="radio" name="question7" value="Poco receptivos">
              Poco receptivos
            </label>
            <label class="container">
              <input type="radio" name="question7" value="Nada receptivos">
              Nada Receptivos
            </label>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>8.</span> <span>¿Cuáles son las probabilidades de que vuelvas a nuestras salas?</span></div>
            <hr>
            <label class="container">
              <input type="radio" name="question8" value="Probable">
              Probable
            </label>
            <label class="container">
              <input type="radio" name="question8" value="Poco Probable">
              Poco probable
            </label>
            <label class="container">
              <input type="radio" name="question8" value="Improbable">
              Improbable
            </label>
          </div>
        </div>

        <div class="tab">
          <div class="tab-inner">
            <div class="question-cont"><span>9.</span> <span>¿Tienes algún otro comentario o sugerencia para nosotros?</span></div>
            <hr>
            <label class="container">
              <textarea rows="2" cols="50" placeholder="Su respuesta"></textarea>
            </label>
          </div>
        </div>
      </form>
      <div class="none-display">
        <span>Debe seleccionar al menos una opcion</span>
      </div>
	    <div class="nextprev-div">
	      <button class="nextprev-button" type="button" id="nextBtn" onclick="nextPrev(1)">COMENZAR</button>
	    </div>
    </section>

	<script type="text/javascript">

    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form...
      var x = document.getElementsByClassName("tab");
	    x[n].style.display = "block";

      // Adjust sala logo in fisrt view
      if (currentTab == 0) {
        x[currentTab].style.marginTop = "-50px";
      } else {
        x[currentTab].style.marginTop = "0px";
      }
 
      if (n == (x.length - 1)) {
	      document.getElementById("nextBtn").innerHTML = "REGISTRAR";
      } else if (currentTab == 0) {
        document.getElementById("nextBtn").innerHTML = "COMENZAR";
      } else {
        document.getElementById("nextBtn").innerHTML = "SIGUIENTE";
      }
	  }

	  function nextPrev(n) {
	    // This function will figure out which tab to display
	    var x = document.getElementsByClassName("tab");
      var progressBar = document.getElementsByClassName("none-display");
      var step = document.getElementById("sur-step");
      var label = document.getElementsByTagName("label");
	    // Exit the function if any field in the current tab is invalid:
	    if (n == 1 && !validateForm()) return false;
	    // Hide the current tab:
      x[currentTab].style.display = "none";

      if (currentTab == 0) {
        progressBar[0].className += " progressBar";
        progressBar[0].classList.remove("none-display");
      }
      step.value = step.value + 1;
      label[0].innerHTML = currentTab + 1 + " / 9  PUNTÚA TU EXPERIENCIA";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form...
      if (currentTab >= x.length) {
        // ... the form gets submitted:
	      document.getElementById("regForm").submit();
	      return false;
	    }
	    // Otherwise, display the correct tab:
	    showTab(currentTab);
      }

    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true, checkedCon = 0; 
      var progressBar = document.getElementsByClassName("none-display");
      var validate = document.getElementsByClassName("validate-message");
      x = document.getElementsByClassName("tab");
      y = x[currentTab].getElementsByTagName("input");

      // A loop that checks every input field in the current tab:
      for (i = 0; i < y.length; i++) {
        if (currentTab == 5) {
          if (y[i].checked && checkedCon < 3) {
            console.log("menor a 4 " + i);
            checkedCon++;  
            if (progressBar[0]) {
              progressBar[0].className += " validate-message";
              progressBar[0].classList.remove("none-display");
            }
            console.log(checkedCon);
            valid = false;
          } else if (y[i].checked && checkedCon == 3) {
            console.log("igual a 4");
            if (validate[0]) {
              validate[0].className += " none-display";
              validate[0].classList.remove("validate-message");
            }
            valid = true;
            return valid;
          } else {
            if (progressBar[0]) {
              progressBar[0].className += " validate-message";
              progressBar[0].classList.remove("none-display");
            }
            valid = false;
          }
        } else if (currentTab == 6) {
          if (y[i].checked && checkedCon < 4) {
            checkedCon ++;  
            if (progressBar[0]) {
              progressBar[0].className += " validate-message";
              progressBar[0].classList.remove("none-display");
            }
            valid = false;
          } else if (y[i].checked && checkedCon == 4) {
            if (validate[0]) {
              validate[0].className += " none-display";
              validate[0].classList.remove("validate-message");
            }
            valid = true;
            return valid;
          } else {
            if (progressBar[0]) {
              progressBar[0].className += " validate-message";
              progressBar[0].classList.remove("none-display");
            }
            valid = false;
          }
        } else if (y[i].checked) {
          // and set the current valid status to false
          if (validate[0]) {
            validate[0].className += " none-display";
            validate[0].classList.remove("validate-message");
          }
          console.log("todos los demas");
          valid = true;
          return valid;
        } else {
          if (progressBar[0]) {
            progressBar[0].className += " validate-message";
            progressBar[0].classList.remove("none-display");
          }
          valid = false;
        }
      }
      return valid; // return the valid status
    }

    //function validateMulti (y, progressBar, validate, t, i, checkedCon) {
    //  if (y[i].checked && checkedCon < 3) {
    //    console.log("menor a 4 " + i);
    //    if (progressBar[0]) {
    //      progressBar[0].className += " validate-message";
    //      progressBar[0].classList.remove("none-display");
    //    }
    //    console.log(checkedCon);
    //    valid = false;
    //  } else if (y[i].checked && checkedCon == 3) {
    //    console.log("igual a 4");
    //    if (validate[0]) {
    //      validate[0].className += " none-display";
    //      validate[0].classList.remove("validate-message");
    //    }
    //    valid = true;
    //    return valid;
    //  } else {
    //    console.log("ninguno marcadoi " + checkedCon);
    //    if (progressBar[0]) {
    //      progressBar[0].className += " validate-message";
    //      progressBar[0].classList.remove("none-display");
    //    }
    //    valid = false;
    //  }
    //  return valid;
    //}

    //function showValidate (validate) {
    //  if (validate[0]) {
    //    validate[0].className += " none-display";
    //    validate[0].classList.remove("validate-message");
    //  }
    //  return true;
    //}

    //function showProgress (progressBar) {
    //  if (progressBar[0]) {
    //    progressBar[0].className += " validate-message";
    //    progressBar[0].classList.remove("none-display");
    //  }
    //  return true;
    //}
	</script>
  </body>
</html>
