{% extends 'base.html' %}

{% block head_content %}
  <title>Login || Cubatta</title>
{% endblock %}

{% block body_content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <section class="login_container">
      <form action="{{ url_for('auth.login') }}" method="post" class="login_container__form">
        <label>
          <input type="text" name="username" autocomplete="off" value="" placeholder="Usuario"> 
        </label>
        <label>
          <input type="password" name="password" autocomplete="off" value="" placeholder="Contrasena"> 
        </label>
        <button type="submit">Ingresar</button>
      </form>
    </section>    
{% endblock %}
