<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_ludo.css') }}">
    {% if sala == 'cubatta' %}
      <title>Ludopatia || Cubatta</title>
    {% elif sala == 'tribeca' %}
      <title>Ludopatia || Tribeca</title>
    {% elif sala == 'montreal' %}
      <title>Ludopatia || Montreal</title>
    {% elif sala == 'kavari' %}
      <title>Ludopatia || Kavari</title>
    {% elif sala == 'siete' %}
      <title>Ludopatia || Siete</title>
    {% elif sala == 'magia' %}
      <title>Ludopatia || Magia</title>
    {% elif sala == 'cassino' %}
      <title>Ludopatia || Cassino</title>
    {% endif %}
  </head>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <body onload="setTimeout(closeMessage, 3000)">
    {% else %}
      <body>
    {% endif %}
  {% endwith %}
    <section class="main-section">
      <header class="header">
        <span class="text-header">LUDOPATIA</span>
      </header>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="message-container {{ category }}">
              <span>{{ message }}</span>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <form id="regForm" action="{{ url_for('ludopatia.client_view') }}" method="post">
        <div class="logo_container">
          {% if sala == 'cubatta' %}
            <picture>
              <img src="{{ url_for('static', filename='images/3000.gif') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'tribeca' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_tribeca.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'montreal' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_montreal.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'kavari' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_kavari.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'siete' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_siete.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'magia' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_magia.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% elif sala == 'cassino' %}
            <picture>
              <img src="{{ url_for('static', filename='images/logo_cassino.png') }}" alt="logo sala" class="logo-sala">
            </picture>
          {% endif %}
        </div>

        <div class="input-container">
          <input class="input-number" id="tbInput" type="number"> 
          <button class="icon-keypad" type="button" onclick="showKeypad()">
        </div>
        <table class="none-display">
          <tr>
            <td onclick="input(this)">1</td>
            <td onclick="input(this)">2</td>
            <td onclick="input(this)">3</td>
          </tr>
          <tr>
            <td onclick="input(this)">4</td>
            <td onclick="input(this)">5</td>
            <td onclick="input(this)">6</td>
          </tr>
          <tr>
            <td onclick="input(this)">7</td>
            <td onclick="input(this)">8</td>
            <td onclick="input(this)">9</td>
          </tr>
          <tr>
            <td onclick="input(this)" colspan="2">0</td>
            <td onclick="del()"><img class="btn_delete"></td>
	        </tr>
        </table>
        <div class="send-button-container">
          <button class="send-button" type="submit" id="nextBtn">CONSULTAR</button>
        </div>
      </form>
      <div class="none-display">
        <span>Debe seleccionar al menos una opción</span>
      </div>
    </section>

	<script type="text/javascript">
    function showKeypad() {
      no_keypad = document.getElementsByClassName("none-display");
      keypad = document.getElementsByClassName("table_teclado");

      if (keypad[0]) {
        keypad[0].classList.add("none-display");
        keypad[0].classList.remove("table_teclado");
      }else {
        no_keypad[0].classList.add("table_teclado");
        no_keypad[0].classList.remove("none-display");
      }
    }

    function input(e) {
      var tbInput = document.getElementById("tbInput");
      tbInput.value = tbInput.value + e.innerHTML;
    }

    function del() {
      var tbInput = document.getElementById("tbInput");
      tbInput.value = tbInput.value.substr(0, tbInput.value.length - 1);
    }

    function closeMessage() {
      pop = document.getElementsByClassName("message-container");

      pop[0].style.display = "none";
    }
	</script>
  </body>
</html>
