{% extends 'base.html' %}

{% block head_content %}
    <title>Signup || Cubatta</title>
{% endblock %}

{% block body_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="encabezado">
        <h1>Registro de usuarios</h1>        
    </div>

    <section id="signup_sec">
        <form action="{{ url_for('auth.signup') }}" method="post" id="signup_form">
            <label>
                <input type="text" name="username" placeholder="Usuario"> 
            </label>
            <label>
                <input type="password" name="password" placeholder="Contrasena"> 
            </label>
            <label>
                <input type="text" name="first_name" placeholder="Nombre">
            </label>
            <label>
                <input type="text" name="last_name"  placeholder="last_name">
            </label>
            <button type="submit">Ingresar</button>
        </form>
    </section>    
{% endblock %}
