{% extends 'base.html' %}

{% block head_content %}
    <title>Signup || Cubatta</title>
{% endblock %}

{% block body_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="encabezado">
        <h1>Registro de usuarios</h1>        
    </div>

    <section id="signup_sec">
        <form action="{{ url_for('login') }}" method="post" id="signup_form">
            <label>
                <input type="text" name="username" value="" placeholder="Usuario"> 
            </label>
            <label>
                <input type="password" name="password" value="" placeholder="Contrasena"> 
            </label>
            <label>
                <input type="text" name="first_name" value="" placeholder="Nombre">
            </label>
            <label>
                <input type="text" name="last_name" value="" placeholder="last_name">
            </label>
            <label>Is admin?
                <input type="checkbox" name="sudo" value="">
            </label>
            <button type="submit">Ingresar</button>
        </form>
    </section>    
{% endblock %}
